@model GlsLeague.ViewModel.CompetitionVM

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie</h2>

<h3>Jeseteś pewien, że chcesz usunąc te zawody?</h3>
<div>
    <h4>Szczegóły</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competition.Name)
        </dd>

        <dt>
            Data od:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competition.StartDate)
        </dd>

        <dt>
           Data do:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competition.EndDate)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger btn-sm" /> |
            @Html.ActionLink("Cofnij", "Index")
        </div>
    }
</div>
