@model GlsLeague.ViewModel.CompetitionVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Competition.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competition.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competition.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competition.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competition.IsCompetitionActvie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competition.IsRegistrationOpen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.CompetitionList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCompetitionActvie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRegistrationOpen)
        </td>
        <td>
            @Html.ActionLink("Edytuj zawody", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Harmonogram", "Schedule", new { id=item.ID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
