@model GlsLeague.ViewModel.CompetitionVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Od:
        </th>
        <th>
            Do:
        </th>
        <th>
           Czy widoczne?
        </th>
        <th>
            Rejestracja
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.CompetitionList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCompetitionActvie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRegistrationOpen)
        </td>
        <td>
            @Html.ActionLink("Edytuj zawody", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Harmonogram", "Schedule", new { id=item.ID }) |
            @Html.ActionLink("Zgłoszenia", "Registered", new { id=item.ID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
